<!DOCTYPE html>
<html lang="no">
<head>
    <%- include('partials/header') %>

    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>
    <%- include('partials/nav') %>

    <h1 id="mainHeader">Documents by </h1>

    <div id="docView"></div>

    <script src="../JS/loadUserDocs.js"></script>
</body>
</html>